
* {
	font-family: "Trebuchet MS", Arial, sans-serif;  }

#lic,#pit{
	border: lightgrey solid 2px;
	float:left;
	margin:1%;
}
#lic h2,#pit h2{
	text-align:center;
}
td,th{
	border: grey solid 1px;
	padding:3px;
	text-align:center;
}
td:first-child{
	text-align:left;
}
#lic ul{
	padding:0;
	margin:0;
	list-style:none;
}
#lic li{
	list-style:none;
	border: gray solid 1px;
	padding:3px;
	margin:0;
}
#date{display:none;}


@media print{
	*{
		background-color:white!important;
		color:black!important;
	}
	#lic, #pit{
		border: black solid 2px;
	}
	#pit{
		width:70%;
	}
	#pit table{
		width:100%;
	}
	#lic{
		width:25%;
	}
	#end{
		display:none;
	}
	a:link, a:visited, a:hover, a:active {
		color: black !important; 
		text-decoration: none !important;
	}
	#date{display:block;}

}