
/*
body { 
	background: #F5F5DC;
	color:#40E0D0;
}
a:link {color:#40E0D0;}
a:visited {color: #40E0D0; text-decoration: underline}
a:hover {color: #40E0D0; text-decoration: underline}
a:active {color: #40E0D0; text-decoration: underline}
*/
body { 
	background: black;
	color:white;
}
a:link {color:#FFFF99; text-decoration: none}
a:visited {color: #FFFFCC; text-decoration: underline}
a:hover {color: #fff; text-decoration: underline}
a:active {color: #FFFFCC; text-decoration: underline}
p { 
	font-size: 0.8em; 
	line-height: 1.4em; 
	text-align: justify;
}
.center { 
	text-align: center;
}

