{% extends 'base.html' %}

{% block title %}Lens and Lights | About Us{% endblock %}
{% block description %}Lens and Lights provides professional quality production services to the WPI community at an affordable price. Learn more about our club and meet our current executive board members here.{% endblock %}

{% block content %}
<div class="container mt-4" style="color: white">
    <h2>About Lens and Lights</h2>
    <p><br>We are Lens and Lights, a WPI student organization which provides quality lighting, sound, and projection
    services to the WPI community. We are a group of very passionate individuals who are interested in working with 
    production equipment and advancing the WPI community.</p>
    <div class="row mt-4">
        <div class="col-md">
            <h3 class="h4 py-2" style="color: yellow">To On-Campus Organizations</h3>
            <p>Do you want to be seen and heard by the masses at your next event? Bring in Lens and Lights! We specialize 
            in lighting and sound, from a simple spotlight or microphone to full-stage setups. We also run a movie
            theater with high quality film and digital projection capabilities. For more information, contact our Vice President at <a href="https://outlook.office.com/mail/deeplink/compose?to=lnl-vp@wpi.edu">lnl-vp@wpi.edu</a>
        </div>
        <div class="col-md">
            <h3 class="h4 py-2" style="color: yellow">To Interested Students</h3>
            <p>Want to work with high-quality equipment and become a driving force in getting things done on campus? 
            Join LNL! We encourage you to stop by and chat or help out at any of our upcoming events. You can also pop by
            one of our general body meetings, every Wednesday at 5PM in AK233 when classes are in session, or visit our office on the third floor
            of the campus center.</p>
        </div>
    </div>
    <br>
    <h2>Meet Our Officers</h2>
</div>
<div id="exec">
    <div class="row no-gutters mb-4 justify-content-center" style="color: black">
        <div class="card col-md-3 p-0 m-4" id="President-card">
            <img id="President-img" src="assets/img/officers/profile.png" class="card-img-top" alt="President"/>
            <div class="card-body">
                <h3 class="h5">President - <span id="President-name">Not available</span> <span id="President-year"></span></h3>
                <p class="card-text"><br>The President's job involves diplomacy - leading the executive board, managing club members, serving as a liaison between the club and WPI, and keeping the club running smoothly.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Interim President-card">
            <img id="Interim President-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Interim President"/>
            <div class="card-body">
                <h3 class="h5">Interim President - <span id="Interim President-name">Not available</span> <span id="Interim President-year"></span></h3>
                <p class="card-text"><br>The President's job involves diplomacy - leading the executive board, managing club members, serving as a liaison between the club and WPI, and keeping the club running smoothly.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Vice President-card">
            <img id="Vice President-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Vice President"/>
            <div class="card-body">
                <h3 class="h5">Vice President - <span id="Vice President-name">Not available</span> <span id="Vice President-year"></span></h3>
                <p class="card-text"><br>The Vice President is in charge of events and serves as a liaison between the club and our clients. They work with clients to select the best services for their event and are responsible for managing the logistics to ensure our events run smoothly.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Interim Vice President-card">
            <img id="Interim Vice President-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Interim Vice President"/>
            <div class="card-body">
                <h3 class="h5">Interim Vice President - <span id="Interim Vice President-name">Not available</span> <span id="Interim Vice President-year"></span></h3>
                <p class="card-text"><br>The Vice President is in charge of events and serves as a liaison between the club and our clients. They work with clients to select the best services for their event and are responsible for managing the logistics to ensure our events run smoothly.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Technical Director-card">
            <img id="Technical Director-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Technical Director"/>
            <div class="card-body">
                <h3 class="h5">Technical Director - <span id="Technical Director-name">Not available</span> <span id="Technical Director-year"></span></h3>
                <p class="card-text"><br>The Technical Director's responsibilities include the purchase, repair and upkeep of equipment. They are also responsible for training our members in the proper use of the equipment.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Interim Technical Director-card">
            <img id="Interim Technical Director-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Interim Technical Director"/>
            <div class="card-body">
                <h3 class="h5">Interim Technical Director - <span id="Interim Technical Director-name">Not available</span> <span id="Interim Technical Director-year"></span></h3>
                <p class="card-text"><br>The Technical Director's responsibilities include the purchase, repair and upkeep of equipment. They are also responsible for training our members in the proper use of the equipment.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Head Projectionist-card">
            <img id="Head Projectionist-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Head Projectionist"/>
            <div class="card-body">
                <h3 class="h5">Head Projectionist - <span id="Head Projectionist-name">Not available</span> <span id="Head Projectionist-year"></span></h3>
                <p class="card-text"><br>The Head Projectionist (HP) is in charge of the club's projectors, making sure they are kept clean and maintained. They also serve as a liaison between the club and clients looking to have projection at their event. 
                Additionally, the HP is responsible for training all of our new projectionists.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Interim Head Projectionist-card">
            <img id="Interim Head Projectionist-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Interim Head Projectionist"/>
            <div class="card-body">
                <h3 class="h5">Interim Head Projectionist - <span id="Interim Head Projectionist-name">Not available</span> <span id="Interim Head Projectionist-year"></span></h3>
                <p class="card-text"><br>The Head Projectionist (HP) is in charge of the club's projectors, making sure they are kept clean and maintained. They also serve as a liaison between the club and clients looking to have projection at their event. 
                Additionally, the HP is responsible for training all of our new projectionists.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Treasurer-card">
            <img id="Treasurer-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Treasurer"/>
            <div class="card-body">
                <h3 class="h5">Treasurer - <span id="Treasurer-name">Not available</span> <span id="Treasurer-year"></span></h3>
                <p class="card-text"><br>The Treasurer is in charge of the club’s financial operations, both with on-campus accounts at WPI and off-campus customers. Their responsibilities include billing clients, paying invoices, submitting reimbursements and balancing the club’s finances.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Interim Treasurer-card">
            <img id="Interim Treasurer-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Interim Treasurer"/>
            <div class="card-body">
                <h3 class="h5">Interim Treasurer - <span id="Interim Treasurer-name">Not available</span> <span id="Interim Treasurer-year"></span></h3>
                <p class="card-text"><br>The Treasurer is in charge of the club’s financial operations, both with on-campus accounts at WPI and off-campus customers. Their responsibilities include billing clients, paying invoices, submitting reimbursements and balancing the club’s finances.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Secretary-card">
            <img id="Secretary-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Secretary"/>
            <div class="card-body">
                <h3 class="h5">Secretary - <span id="Secretary-name">Not available</span> <span id="Secretary-year"></span></h3>
                <p class="card-text"><br>The Secretary keeps minutes during all the meetings. The secretary is also in charge of keeping accurate membership lists.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Interim Secretary-card">
            <img id="Interim Secretary-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Interim Secretary"/>
            <div class="card-body">
                <h3 class="h5">Interim Secretary - <span id="Interim Secretary-name">Not available</span> <span id="Interim Secretary-year"></span></h3>
                <p class="card-text"><br>The Secretary keeps minutes during all the meetings. The secretary is also in charge of keeping accurate membership lists.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Webmaster-card">
            <img id="Webmaster-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Webmaster"/>
            <div class="card-body">
                <h3 class="h5">Webmaster - <span id="Webmaster-name">Not available</span> <span id="Webmaster-year"></span></h3>
                <p class="card-text"><br>The Webmaster is responsible for maintaining the club's web services, including our internal database. They are also responsible for public relations and managing the club's social media.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4" id="Interim Webmaster-card">
            <img id="Interim Webmaster-img" src="assets/img/officers/profile.png" class="card-img-top" alt="Interim Webmaster"/>
            <div class="card-body">
                <h3 class="h5">Interim Webmaster - <span id="Interim Webmaster-name">Not available</span> <span id="Interim Webmaster-year"></span></h3>
                <p class="card-text"><br>The Webmaster is responsible for maintaining the club's web services, including our internal database. They are also responsible for public relations and managing the club's social media.</p>
            </div>
        </div>
        <div class="card col-md-3 p-0 m-4">
            <img src="assets/img/officers/boom_boom.JPG" class="card-img-top" alt="Boom Boom"/>
            <div class="card-body">
                <h3 class="h5">Mascot - Boom Boom</h3>
                <p class="card-text"><br>Boom Boom makes appearances at various LNL events. Boom Boom is responsible for boosting crew morale and always encourages us to reach higher.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md pt-3" style="color: white">
            <h3 class="h4 pt-2" style="color: yellow">History</h3>
            <p class="mb-0 pb-2">During the winter of 1961-62, five WPI students got together and formed an organization
            they called Lens and Lights. Check out our history page to learn more about how the club has grown over the
                years and to view photos from past decades.<br><br><button class="btn btn-warning" onclick="window.location.href='history'">Learn More</button><br><br></p>
        </div>
        <div class="col-md pt-3" style="color: white">
            <h3 class="h4 pt-2" style="color: yellow">Equipment</h3>
            <p class="mb-0 pb-2">Ever wonder how we control the lighting or the sound systems used for events like <em>Can We Talk?</em> or the annual VEX Robotics
            event? If so, or if you simply want to learn more about the equipment LNL has in stock, you can browse through some of our inventory and learn more about our
            equipment on our Technical Overview page.<br><br><button class="btn btn-warning" onclick="window.location.href='equipment'">Learn More</button><br><br></p>
        </div>
    </div>
</div>
{% endblock %}

{% block onload %}
    {{ block.super }}
	getOfficers(true);
{% endblock %}
