{% extends 'base.html' %}

{% block title %}Lens and Lights | Equipment{% endblock %}
{% block description %}Lens and Lights provides professional quality production services to the WPI community at an affordable price. But how do we do it? What equipment do we use? Take a look at our ever growing inventory of lights, speakers, projectors, and more.{% endblock %}

{% block content %}
<div class="container mt-4" style="color: white">
    <h2>Equipment</h2>
    <p class="pb-3">Interested in the technical resources that Lens and Lights has? We’re glad you’re here! Equipment is one of the cornerstones
    of our organization and we have access to some very cool stuff. Take a look at the lists below for each service category to see what types of items we own!</p>
    <hr>
    <h3 class="h4 py-2 mt-4" style="color: yellow">Lighting</h3>
    <div class="row">
        <div class="col-md">
            <h4>Consoles</h4>
            <ul>
                <li>ETC GIO @5 24000</li>
                <li>ETC Gio 4000 </li>
                <li>ETC ColorSource 20AV</li>
                <li>High End Systems Road Hog 4</li>
                <li>High End Systems Hog 4</li>
                <li>Avolites Pearl Expert with Touch Wing</li>
                <li>High End Systems Hog 500</li>
                <li>Strand Lighting 200</li>
                <li>Leprecon LP-2000 Cue Plus</li>
                <li>Leprecon LP-612</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Intelligent Fixtures</h4>
            <ul>
                <li>18x High End Systems (ETC) Lonestar</li>
                <li>2x High End Systems Solaframe 2000</li>
                <li>3x Coemar Infinity Wash XL</li>
                <li>4x VariLite VL-2000</li>
                <li>2x Elation Platinum Spot 5R Pro</li>
                <li>12x Phillips Color Kinetics Colorblast 12TR</li>
                <li>4x Phillips Color Kinetics Colorblaze 72</li>
                <li>6x Martin MAC Aura</li>
                <li>4x Coemar Infinity Wash XL</li>
                <li>4x Martin Rush Blinder 1 WW</li>
                <li>12x ETC Desire D60 Lustr+</li>
                <li>12x Chauvet EZpar T6 USB</li>
                <li>33x Chauvet Freedom Par Hex-4</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Conventional Fixtures</h4>
            <ul>
                <li>ETC Source 4 Ellipsoidal</li>
                <li>ETC Source 4 Par</li>
                <li>Altman PAR 64</li>
                <li>Altman Fresnel</li>
                <li>Altman Striplight</li>
                <li>ETC Mini Source 4</li>
                <li>Thomas Molefay</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Dimmers</h4>
            <ul>
                <li>4x racks of Leprecon dimmer packs (2x 36 channel, 2x 24 channel), with varying number of auxiliary and non-dim circuits</li>
            </ul>
        </div>
    </div>
    <hr>
    <h3 class="h4 py-2 mt-4" style="color: yellow">Rigging</h3>
    <div class="row">
        <div class="col-md">
            <h4>Truss</h4>
            <ul>
                <li>96’ of Tomcat 20.5” Plated Box Truss</li>
                <li>80’ of Applied Electronics 12” Plated Box Truss</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Hoists</h4>
            <ul>
                <li>6x Columbus McKinnon Lodestar 1-Ton Chain Hoists</li>
                <li>2x Columbus McKinnon Model 633 Chain Falls</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Towers</h4>
            <ul>
                <li>4x Applied Electronics L-16</li>
                <li>2x Applied Electronics L-25</li>
            </ul>
        </div>
        <!--<div class="col-md">
            <h4>Lifts</h4>
            <ul>
                <li>2x Skyjack scissor lifts (3219 & 3226)</li>
                <li>Genie AWP-30S mast lift</li>
                <li>Genie Z-40/23 N RJ articulating boom lift</li>
            </ul>
        </div>-->
    </div>
    <hr>
    <h3 class="h4 py-2 mt-4" style="color: yellow">Sound</h3>
    <div class="row">
        <div class="col-md">
            <h4>Consoles</h4>
            <ul>
                <li>Yamaha QL5</li>
                <li>Yamaha QL1</li>
                <li>DiGiCo S31+</li>
                <li>Midas M32R</li>
                <li>Behringer X32</li>
                <li>Yamaha LS9-32</li>
                <li>Allen & Heath GL-4000</li>
                <li>Mackie SR40•8</li>
                <li>2x Allen & Heath MixWizard WZ3 16:2</li>
                <li>2x Mackie 1202 VLZ3/VLZ4</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Speakers</h4>
            <ul>
                <li>12x EAW RSX208L (co-owned with Vox Musical Theatre)</li>
                <li>2x Meyer UPM-1P</li>
                <li>4x EAW KF850</li>
                <li>4x EAW LA325</li>
                <li>2x EAW LA215</li>
                <li>6x EAW SM200iH</li>
                <li>2x EAW JF60</li>
                <li>4x QSC KW122</li>
                <li>2x EAW LA128</li>
                <li>6x EAW SB1000</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Amps</h4>
            <ul>
                <li>1 “850's Rack” consisting of an EAW UX8800 processing unit and 3 Crown iTech amplifiers</li>
                <li>1 “SB's Rack” consisting of a dbx Driverack and Crown iTech and LabGruppen amplifiers</li>
                <li>3x “Wildcard” amp racks consisting of dbx Driveracks and a mix of QSC PLX and PL amplfiers</li>
                <li>Crown XTi 1002 (for JF60s)</li>
                <li>2x QSC PL236 (for LA215s)</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Wireless</h4>
            <ul>
                <li>40 channels of Shure ULX-D</li>
                <li>Several channels of ULX-P and Sennheiser wireless</li>
            </ul>
        </div>
    </div>
    <br>
    <hr>
    <h3 class="h4 py-2 mt-4" style="color: yellow">Projection</h3>
    <div class="row">
        <div class="col-md">
            <h4>Projectors in Operation</h4>
            <ul>
                <li>2x 16mm EIKI EX-4000</li>
                <li>2x Norelco Todd-AO DP70<br>(both over 60 years old!)</li>
                <li>Christie CP-2210 (2k Digital)</li>
            </ul>
            <br>
            <h4>Retired Projectors</h4>
            <ul>
                <li>2x Carbon Arc Simplex Regular</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Films</h4>
            <ul>
                <li>Numerous 16mm advertisements/cartoons</li>
                <li>Numerous 35mm movie previews</li>
                <li>A small number of 70mm previews</li>
                <li>Apollo 13 - Feature Film (35mm)</li>							
                <li>Bee Movie - Feature Film (35mm)</li>
                <li>Daredevil - Feature Film (35mm)</li>
                <li>Interstellar - Feature Film (35mm)</li>
                <li>Men In Black - Feature Film (35mm)</li>
                <li>Open Season - Feature Film (35mm)</li>
                <li>Polar Express - Feature Film (35mm)</li>
                <li>The Road to El Dorado - Feature Film (35mm)</li>
                <li>Robots - Feature Film (35mm)</li>
                <li>Shark Tale - Feature Film (35mm)</li>
                <li>Space Jam - Feature Film (35mm)</li>
            </ul>
        </div>
        <div class="col-md">
            <h4>Fuller Upper</h4>
            <ul>
                <li>5.1 Digital Surround Sound</li>
                <li>35mm Sound on Film: Dolby Digital 5.1, Dolby SR, DTS</li>
                <li>70mm Sound on Film: Dolby Stereo Magnetic, DTS</li>
                <li>Theater lighting control</li>
                <li>Cinema screen with masking</li>
            </ul>
            <h4>Outdoors</h4>
            <ul>
                <li>Airscreen 30'</li>
                <li>Cinebox (Dolby sound processing rack)</li>
                <li>Tascam BD-MP4K Blu-Ray Player with Behringer DI800v2 for 7.1 audio</li>
            </ul>
        </div>
    </div>
    <br>
</div>
{% endblock %}
