{% extends 'base.html' %}

{% block title %}Lens and Lights | History{% endblock %}
{% block description %}Lens and Lights has been around since 1962. Learn more about the club's origin and history.{% endblock %}

{% block content %}
<section class="pb-1" style="background-color: #777;">
    <div id="slides" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active slide-img" style="background-image: url('assets/img/history/H1.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H2.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H3.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H4.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H5.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H6.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H7.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H8.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H9.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H10.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H11.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H12.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H13.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H14.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H15.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H16.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H17.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H18.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H19.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H20.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H21.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H22.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H23.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H24.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H25.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H26.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H27.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H28.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H29.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H30.jpg');">
            </div>
            <div class="carousel-item slide-img" style="background-image: url('assets/img/history/H31.jpg');">
            </div>
        </div>
        <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control-next" href="#slides" role="button" data-slide="next">&rsaquo;</a>
    </div>
</section>
<section class="text-white bg-dark" style="box-shadow: 0 -2px 5px #333;">
    <div class="container py-5">
        <h1 style="color: yellow">History of Lens and Lights</h1>
        <br>
        <p>During the winter of 1961-62, seven WPI students got together and formed an organization they called Lens and Lights.  The first president, Jim Day, named the club after his Wethersfield CT A/V club.  The purpose of the club was to aid groups using Alden Memorial Auditorium to more fully and effectively use the technical facilities of the auditorium.</p>
        <p>The founding fathers of the club included:</p>
        <ul style="margin-left:20px;">
            <li><strong><span style="color: yellow">Jim Day</span> - Mechanical Engineering, 1965</strong></li>
            <li><strong><span style="color: yellow">Chuck Frary</span> - Electrical Engineering, 1965</strong></li>
            <li><strong><span style="color: yellow">Steve Noble</span> - Physics, 1964</strong></li>
            <li><strong><span style="color: yellow">Bill Remillong</span> - Chemical Engineering, 1966</strong></li>
            <li><strong><span style="color: yellow">John Schmidt</span> - Electrical Engineering, 1964</strong></li>
            <li><strong><span style="color: yellow">Dick Stone</span> - Electrical Engineering, 1966</strong></li>
            <li><strong><span style="color: yellow">Bill Swiger</span> - Electrical Engineering, 1964</strong></li>
            <li><strong><span style="color: yellow">Donald Howe</span> - Electrical Engineering, 1938; Professor of Physics, Faculty Advisor</strong></li>
        </ul>
        <p>In the beginning, the club also provided audio and lighting services. The safety of our crews, the groups that we served, and the audiences were always a top priority, a tradition that continues to this day. Working with the Buildings and Grounds department, college administration, and interested professors, the club was granted access to the Alden Projection Booth and worked to repair the old 35mm Simplex Projectors in it. These projectors were left over from showing Navy recruitment films during WWII. Since 35mm was cheaper than 16mm back then, club members taught themselves 
        and each other how to run the projectors and began showing movies on them.</p></p>
        <p>We also inspected and repaired copies of the now infamous WPI recruitment film <i>Bridge to the Future</i> between its uses in the field. Eventually, the dated 20 minute reels of 16mm film were made up of more splice than film, and were retired.</p>
        <p>By 1964, the club had accumulated 25 or so members. They appropriated a space in the 
        basement of Sanford Riley Hall, a building which continues to serve as a student residence 
        today. Later, we moved our equipment to another storage area on the other side of the same 
        hall, which served as our primary office for many years until it was transformed into a 
        digital music lab in 2009.</p>
        <p>In 2022, LNL celebrated 60 years of providing the WPI Community with motion picture 
        projection services. To read more about LNL's projection equipment, 
        <a href="services/projection" class="text-warning">click here</a>.</p>
    </div>
</section>
{% endblock %}