{% extends 'base_noindex.html' %}

{% block title %}Lens and Lights | Communication Settings{% endblock %}
{% block description %}{% endblock %}

{% block content %}
<div class="container" style="color: white">
	<h2 class="pl-md-5 text-md-center">Aw, we hate to see you go :(<!--&#x1F641;--></h2>
	<div class="container text-left p-4">
		<h3></h3>
		<p class="pb-4"><strong>WPI Email Accounts</strong><br>To unsubscribe from our mailing lists,
			you can remove yourself through the group settings in Outlook (directions provided below). Before
			selecting the option to "Leave Group", keep in mind that some LNL Web Services have permissions
			tied to group memberships. Therefore, if you leave these groups you may no longer have access to
			resources like Sharepoint. If you are just looking to unsubscribe from specific emails, instead
			consider selecting the "Stop following" option. This way you can still access all of LNL's
			resources.<br><br>
			<strong>Non-WPI Accounts</strong><br>Use the link at the bottom of one of our emails to unsubscribe.
			More detailed instructions can be found below.<br><br>
			<a class="btn btn-warning" href="https://support.microsoft.com/en-gb/office/leave-a-group-in-outlook-1470a263-3e01-4633-a7b9-851b786db0d2">Learn more</a></p>
	</div>
</div>
{% endblock %}
