{% extends 'base.html' %}

{% block title %}Lens and Lights | Pricing{% endblock %}
{% block description %}Lens and Lights provides professional quality production services to the WPI community at an affordable price. Learn more about our available services and pricing.{% endblock %}


{% block content-section-attributes %}class="bg-dark pb-4"{% endblock %}

{% block content %}
<div class="container mt-4" style="color: white" id="main">
	<h2>Pricing</h2>
	<p>Lens and Lights can provide quality production services for your next event at incredibly low prices!
		Contact us at <a href="https://outlook.office.com/mail/deeplink/compose?to=lnl@wpi.edu" style="color:lightblue;text-decoration: underline;">lnl@wpi.edu</a> to submit at request at least 3 weeks before your event.<br><br></p>
	<div class="card-deck mb-3 text-center container" style="color: black">
		<div class="card card-dark mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Sound</h4>
			</div>
			<div class="card-body">
				<ul class="list-unstyled mt-3 mb-4 text-left">
					<li><i class="fas fa-check"></i> Wireless & Wired Microphones</li>
					<li><i class="fas fa-check"></i> Point-Source & Line Array Speakers</li>
					<li><i class="fas fa-check"></i> Area Fill Speakers</li>
					<li><i class="fas fa-check"></i> Subwoofers</li>
					<li><i class="fas fa-check"></i> Live Mixing for any event</li>
					<li>&nbsp;</li>
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-primary" onclick="window.location.href = 'https://outlook.office.com/mail/deeplink/compose?to=lnl@wpi.edu';">Contact Us</button>
			</div>
		</div>
		<div class="card card-dark mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Lighting & Rigging</h4>
			</div>
			<div class="card-body">
				<ul class="list-unstyled mt-3 mb-4 text-left">
					<li><i class="fas fa-check"></i> Uplighting</li>
					<li><i class="fas fa-check"></i> Moving Lights</li>
					<li><i class="fas fa-check"></i> Stage Shows</li>
					<li><i class="fas fa-check"></i> Big Dance Parties</li>
					<li><i class="fas fa-check"></i> Rigging with Truss & Chain Motors</li>
					<li>&nbsp;</li>
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-primary" onclick="window.location.href = 'https://outlook.office.com/mail/deeplink/compose?to=lnl@wpi.edu';">Contact Us</button>
			</div>
		</div>
		<div class="card card-dark mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Digital & Film Projection</h4>
			</div>
			<div class="card-body">
				<ul class="list-unstyled mt-3 mb-4 text-left">
					<li><i class="fas fa-check"></i> Digital Movies</li>
					<li><i class="fas fa-check"></i> 16 mm, 35 mm & 70 mm Films</li>
					<li><i class="fas fa-check"></i> Dolby Digital 5.1 Surround</li>
					<li><i class="fas fa-check"></i> Outdoor Projection<sup>*</sup></li>
					<li class="text-muted"><i class="fas fa-times"></i>&nbsp;&nbsp;Licensing<sup>**</sup></li>
					<li>&nbsp;</li>
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-primary" onclick="window.location.href = 'https://outlook.office.com/mail/deeplink/compose?to=lnl@wpi.edu';">Contact Us</button>
			</div>
		</div>
	</div>
	<div class="jumbotron mx-md-4 pt-5 pb-4 mb-5 bg-warning" style="color: black;">
		<h3 class="h4" style="margin-bottom: 1rem;">Save Big with our Combo Discount</h3>
		<p>Book both lighting and sound services for your event to receive a discount!</p>
		<p>Starting in July 2025, we'll also be offering a student organization discount.</p>
	</div>
	<hr>
	<div class="pt-4 pb-4 jumbotron" style="color: black">
		<h3 class="py-3">Why we charge for events</h3>
		<p>LNL is not funded through the WPI Undergraduate Student Life fee like other student organizations. LNL charges for our services so that we are able to repair, maintain, and replace the equipment we use to provide services to campus events. Financially, LNL operates differently than most student organizations at WPI. We do not receive an annual budget from SGA or from WPI for maintaining our event equipment. LNL is entirely a volunteer organization; we do not charge for labor or our members' time. <br><br>
		<a class="btn btn-warning" href="pricing/why-we-charge">Learn more</a>
	</div>
	<div class="pt-4 pb-4">
		<h3>Still not sure what you need?</h3>
		<p>For a more complete explanation of our pricing and what services we have available, please reach out to us at <a href="https://outlook.office.com/mail/deeplink/compose?to=lnl@wpi.edu" style="color:lightblue;text-decoration: underline;">lnl@wpi.edu</a>.
	</div>
	<hr>
	<p class="small">
		<sup>*</sup>&nbsp;&nbsp;Sound services not included<br>
		<sup>**</sup> Required for public showings (not included)<br><br>
		Pricing subject to change. Restrictions apply. <a href="https://outlook.office.com/mail/deeplink/compose?to=lnl@wpi.edu" style="color:lightblue;text-decoration: underline;">Contact us</a> for more information.
	</p>
</div>
{% endblock %}