{% extends 'base.html' %}

{% block title %}Lens and Lights | Privacy{% endblock %}
{% block description %}At Lens and Lights, our clients are our number one priority. Review our privacy policy to learn more about how we protect user data.{% endblock %}

{% block content %}
<div id="main" class="container" style="color: white">
	<h2 class="text-center">Lens and Lights Privacy&nbsp;Policy</h2>
	<p class="text-center"><strong>Last updated: June 12, 2021</strong></p>
	<article class="col-10 col-md-9 m-auto">
		<section class="pt-4">
			<h3>Collection and Use of Personal Information</h3>
			<p>"Personal information" is defined as any information that can be used to identify an individual
				or contact them.</p>
			<p>While using our services, you may be asked to provide your personal information. WPI Lens and
				Lights ("LNL") and its partners/affiliates may use or share this information in accordance with
				this Privacy Policy in order to provide our services and/or evaluate and improve our
				performance.</p>
			<h4 class="pt-3">What personal information we collect</h4>
			<ul>
				<li>When you create an account as a client, we may collect a variety of personal information,
					including but not limited to, your first and last name, email address, phone number, and
					address or office location.</li>
				<li>When you create an account as an LNL member, we may collect your first and last name, email
					address, and class year, as well as any other information you voluntarily provide.</li>
				<li>When you log in with a WPI user account, we may collect personal information associated
					with the account, including but not limited to, the type of account, your name, email
					address, Student ID, class year, IP address, and geographical data (if applicable).</li>
				<li>When you update your profile, we may collect any additional information you choose to
					provide such as your nickname, cellular carrier, WPI Box number, or Radio MDC.
				</li>
			</ul>
			<h4 class="pt-3">How we use your personal information</h4>
			<p>We may process your personal information for the purposes described in this Privacy Policy, with
				your consent, or at the request of local or federal law enforcement agencies.</p>
			<ul>
				<li>We use your personal information to create your account, maintain your profile, and
					otherwise provide our services to you. We may also use your personal information for
					account and network security purposes or to provide technical support.</li>
				<li>If you have opted-in to receiving text messages from LNL, by selecting your cellular
					carrier when updating your profile, we may use this information to send you SMS text
					messages containing any relevant information with regards to your business with us. This
					method of communication will never be used for marketing purposes and you may opt-out at
					any time. Data and messaging rates may apply. Contact your carrier for more details.</li>
				<li>We may use your personal information to contact you about changes to your account or
					booking(s) and to send you important notices about updates to our service agreements and
					policies. You may not opt-out of these communications.</li>
			</ul>
		</section>
		<section class="pt-5">
			<h3>Collection and Use of Non-Personal Information</h3>
			<p>We also collect data in a form that, on its own, cannot be used to identify you ("anonymous
				data"). We may collect, use, store, and disclose anonymous data for any purpose.</p>
			<p>Here are some examples of the types of anonymous data we typically collect and how we might use
				it:</p>
			<ul>
				<li>When you visit our website, you consent to the use of cookies, and we may collect and store
					information such as your browser type or version, device identifiers, location, language,
					and the pages you visit. We may also combine this data with anonymous personal information,
					such as your age and gender, in a way that cannot be used to personally identify you, in
					order to conduct research and perform assessments on how our services are doing and learn
					about ways we can improve them.</li>
				<li>When you set up a new organization, we may collect details about your organization, such as
					its name, primary contact, and billing information. This information is used solely for the
					purpose of providing our services to you and will never be shared with third parties.</li>
				<li>When you book an event, we may collect details about your event, such as the event name,
					location, schedule, requested services, and any additional resources such as floor plans or
					audio/video files that you provide. This information is primarily used to provide our
					services to you and may be shared with third-party service providers, when necessary. We
					may also use this information when conducting research or performing assessments on our
					services, in order to learn about ways to improve them.</li>
				<li>We may collect and store information regarding how you use our services, including search
					queries. This information may be used to improve our services or report trends to our
					partners and affiliates.</li>
			</ul>
			<p>We may share anonymous data with online service providers (such as Google Analytics) in order to
				help us provide the best quality of service possible. For more information regarding how these
				parties handle your data you can review their policies below:</p>
			<ul>
				<li><a href="https://google.com/policies/privacy/partners/">Google</a></li>
			</ul>
		</section>
		<section class="pt-5">
			<h3>Third Parties</h3>
			<p>From time to time, we may share some of your personal information with third parties in order to
				provide our services. Your personal information will never be shared with third parties for
				marketing purposes. Anonymous data collected for analytics purposes may be shared with our
				online service providers or affiliates assuming the information is presented in a form that
				cannot be used to identify you.</p>
		</section>
		<section class="pt-5">
			<h3>Media and Copyright</h3>
			<p>While providing our services, or during LNL business or social gatherings (referred to as
				"sponsored events"), LNL members may occasionally photograph, videotape, and/or record portions
				of the event. Unless indicated otherwise, when you book an event or attend an LNL sponsored
				event, you agree that such images, videos, and/or recordings will remain the property of LNL
				and may, at any time, be used on LNL's website, social media, and/or promotional or
				informational materials including, but not limited to, flyers, brochures, newsletters, and
				advertisements. If instead you would prefer that LNL and/or your guests refrain from
				photographing or recording portions of your event, please let us know by emailing
				<a href="mailto:lnl@wpi.edu">lnl@wpi.edu</a>.</p>
		</section>
		<section class="pt-5">
			<h3>Data Retention and Access</h3>
			<p>By default, any data collected through the LNL website for business purposes is retained
				indefinitely. This includes any personal information you may have provided LNL when booking an
				event or updating your profile. Information collected through all other means will only be
				retained for as long as it is necessary for the purposes outlined in this policy. When
				determining how long to retain your data we carefully consider whether or not there is good
				reason for doing so, and if there is, we will only retain it for the shortest possible period
				to serve that purpose unless a longer period is required by law.</p>
			<p>For any personal information we retain, we will give you access (and provide a copy) for any
				purpose, including to request that we correct inaccuracies or delete the data if we are not
				required to retain it for the purposes described above. We may decline to process requests that
				are frivolous, impractical, jeopardize the safety or privacy of others, or for which access is
				not otherwise required by local law. You can submit a request for the correction or deletion of
				your data by emailing <a href="mailto:lnl-w@wpi.edu">lnl-w@wpi.edu</a>.</p>
		</section>
		<section class="py-5">
			<h3>Questions</h3>
			<p>If you have questions or concerns regarding the privacy of your data, or you would like to
				submit a request to update or delete your personal information, send an email to our webmaster
				at: <a href="mailto:lnl-w@wpi.edu">lnl-w@wpi.edu</a>.</p>
			<p>We may update our Privacy Policy from time to time as we make changes to our services or
				website. When we make significant changes, we will place a prominent notice on our website and
				send an email to the address we currently have on file for you.</p>
			<p class="small"><br>&copy; 2020 WPI Lens and Lights</p>
		</section>
	</article>
</div>
{% endblock %}