{% extends 'base_noindex.html' %}

{% block title %}Lens and Lights | Rentals{% endblock %}
{% block description %}Want to rent out some of our equipment? Review our rental policy to learn more about what we expect from our renters.{% endblock %}

{% block content %}
<div id="main" class="container" style="color: white">
	<h2 class="text-center">Lens and Lights Rental&nbsp;Policy</h2>
	<p class="text-center"><strong>Last updated: March 20, 2020</strong></p>
	<div class="container text-left p-4">
		<h3></h3>
		<p class="pb-4">While renting equipment from Lens and Lights (LNL), the following policy is in place to insure the safety, proper care and usage of the equipment. 
		LNL will permit you to use the rented equipment only for the period specified in the rental agreement and assumes that the equipment will be used accordingly and within its specified limits. 
		LNL is not responsible for damage due to misuse or neglect during this period. It is expected that the rental will be returned in the same condition as it was signed out to avoid damage 
		and inventory fees. LNL will not involve itself with safety and/or security issues during the period of rental. If a situation is to arise where a consultation from LNL is required, LNL can 
		be contacted via email: <a href="mailto:lnl@wpi.edu">lnl@wpi.edu</a> or phone: <a href="tel:5088315595">508.831.5595</a> and will respond within twenty-four (24) hours of contact.<br><br>
		In the event any of the rented equipment fails or is damaged and is in need of replacement or repair, the LNL Technical Director can be contacted at <a href="mailto:lnl-td@wpi.edu">lnl-td@wpi.edu</a>, 
		and proper action will be taken. Possible equipment failures may include, but are not limited to: lamps, cables, connectors, etc. This is for your own safety and the safety of the patrons of 
		the event.</p>
		<p class="text-center text-muted"><br>&copy; 2020 WPI Lens and Lights</p>
	</div>
</div>
{% endblock %}
