ErrorDocument 403 http://lnl.wpi.edu/error403.html

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://users.wpi.edu/~lnl/database2/ [R]

<Files "*">
       AuthPAM_Enabled on
       AuthName LnLDB
       AuthType Basic
       AuthAuthoritative off
       Require valid-user

       Anonymous nobody
       Anonymous_MustGiveEmail off
       Anonymous_LogEmail off
       Anonymous_NoUserId on
</Files>
